# Predicting House Sales Prices with Linear Regression

For this project I'll work with housing data for the city of Ames, Iowa, United States from 2006 to 2010. You can read more about why the data was collected [here](https://doi.org/10.1080/10691898.2011.11889627). You can also read about the different columns in the data [here](https://s3.amazonaws.com/dq-content/307/data_description.txt).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold

In [2]:
df = pd.read_csv('AmesHousing.tsv',delimiter='\t')

In [3]:
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [15]:
df.dtypes

Order               int64
PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
Lot Area            int64
Street             object
Alley              object
Lot Shape          object
Land Contour       object
Utilities          object
Lot Config         object
Land Slope         object
Neighborhood       object
Condition 1        object
Condition 2        object
Bldg Type          object
House Style        object
Overall Qual        int64
Overall Cond        int64
Year Built          int64
Year Remod/Add      int64
Roof Style         object
Roof Matl          object
Exterior 1st       object
Exterior 2nd       object
Mas Vnr Type       object
Mas Vnr Area      float64
Exter Qual         object
Exter Cond         object
                   ...
Bedroom AbvGr       int64
Kitchen AbvGr       int64
Kitchen Qual       object
TotRms AbvGrd       int64
Functional         object
Fireplaces          int64
Fireplace Qu       object
Garage Type        object
Garage Yr Blt     float64
Garage Finish      object
Garage Cars       float64
Garage Area       float64
Garage Qual        object
Garage Cond        object
Paved Drive        object
Wood Deck SF        int64
Open Porch SF       int64
Enclosed Porch      int64
3Ssn Porch          int64
Screen Porch        int64
Pool Area           int64
Pool QC            object
Fence              object
Misc Feature       object
Misc Val            int64
Mo Sold             int64
Yr Sold             int64
Sale Type          object
Sale Condition     object
SalePrice           int64
Length: 82, dtype: object

In [23]:
#let's create some basic functions that we can modify later
def transform_features(df):
    return df

In [24]:
def select_features(df):
    return df[['Gr Liv Area','SalePrice']]

In [25]:
def train_and_test(df):
    train = df[0:1460]
    test=df[1460
    #choosing only numeric columns for now
    num_cols = df.select_dtypes(include=['int','float']).columns.drop('SalePrice')
    lr = LinearRegression()
    lr.fit(train[num_cols],train['SalePrice'])
    predictions = lr.predict(test[num_cols])
    rmse = np.sqrt(mean_squared_error(test['SalePrice'],predictions))
    return rmse

SyntaxError: invalid syntax (<ipython-input-25-8ca72b6faa2a>, line 5)

In [26]:
transform_df = transform_features(df)
filtered_df = select_features(transform_df)
rmse = train_and_test(filtered_df)

rmse

57088.25161263909

## Feature Engineering
Handle missing values:
- All columns:
    Drop any with 5% or more missing values for now.
- Text columns:
    Drop any with 1 or more missing values for now.
- Numerical columns:
    For columns with missing values, fill in with the most common value in that column

1: All columns: Drop any with 5% or more missing values for now.

In [27]:
#let's mopdify the transform function

def transform_features(df):
    #defining 5% marker and droping columns above this marker
    marker = int(df.shape[0]*0.05)
    #copying df before alterations
    cleaned_df = df.copy()
    cols_above_marker = cleaned_df.isnull().sum()
    drop_cols = cols_above_marker[cols_above_marker>marker].index
    cleaned_df = cleaned_df.drop(labels=drop_cols,axis=1)
    
    '''#let's now drop any text columns with 1 or more missing values
    text_missing_cols = cleaned_df.select_dtypes(include='object').isnull().sum()
    text_missing_above = text_missing_cols[text_missing_cols>0]
    cleaned_df = cleaned_df.drop(labels=text_missing_above)
    #let's now fill missing values in numeric columns with mode
    num_cols_missing = cleaned_df.select_dtypes(include=['int','float']).isnull().sum()
    num_cols_above = num_cols_missing[num_cols_missing>0]
    cleaned_df = cleaned_df[num_cols_above].fillna(cleaned_df.mode(),axis=1)
    '''
    
    return cleaned_df

In [28]:

transform_df = transform_features(df)
filtered_df = select_features(transform_df)
rmse = train_and_test(filtered_df)

rmse

57088.25161263909